<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="linkCheckerConfig" type="IInteractive.WebTest.LinkCheckerConfigSection, IInteractive.WebTest" allowDefinition="Everywhere" allowLocation="true" />
  </configSections>
  <linkCheckerConfig recursionLimit="5000" requestTimeout="60" maxCrawlTime="600000">
    <browsers>
      <clear />
      <add
        name="default"
        maximumAutomaticRedirections="2"
        allowAutoRedirect="true"
        userAgent="Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.4 (KHTML, like Gecko) Chrome/22.0.1229.79 Safari/537.4"
        accept="*/*"
        acceptCharset="ISO-8859-1,utf-8;q=0.7,*;q=0.3"
        acceptLanguage="en-US,en;q=0.8" />
      <add
        name="default1"
        allowAutoRedirect="true"
        userAgent="Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.4 (KHTML, like Gecko) Chrome/22.0.1229.79 Safari/537.4"
        accept="*/*"
        acceptCharset="ISO-8859-1,utf-8;q=0.7,*;q=0.3"
        acceptLanguage="en-US,en;q=0.8" />
      <add
        name="default2"
        maximumAutomaticRedirections="2"
        userAgent="Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.4 (KHTML, like Gecko) Chrome/22.0.1229.79 Safari/537.4"
        accept="*/*"
        acceptCharset="ISO-8859-1,utf-8;q=0.7,*;q=0.3"
        acceptLanguage="en-US,en;q=0.8" />
      <add
        name="default3"
        maximumAutomaticRedirections="2"
        allowAutoRedirect="true"
        accept="*/*"
        acceptCharset="ISO-8859-1,utf-8;q=0.7,*;q=0.3"
        acceptLanguage="en-US,en;q=0.8" />
      <add
        name="default4"
        maximumAutomaticRedirections="2"
        allowAutoRedirect="true"
        userAgent="Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.4 (KHTML, like Gecko) Chrome/22.0.1229.79 Safari/537.4"
        acceptCharset="ISO-8859-1,utf-8;q=0.7,*;q=0.3"
        acceptLanguage="en-US,en;q=0.8" />
      <add
        name="default5"
        maximumAutomaticRedirections="2"
        allowAutoRedirect="true"
        userAgent="Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.4 (KHTML, like Gecko) Chrome/22.0.1229.79 Safari/537.4"
        accept="*/*"
        acceptLanguage="en-US,en;q=0.8" />
      <add
        name="default6"
        maximumAutomaticRedirections="2"
        allowAutoRedirect="true"
        userAgent="Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.4 (KHTML, like Gecko) Chrome/22.0.1229.79 Safari/537.4"
        accept="*/*"
        acceptCharset="ISO-8859-1,utf-8;q=0.7,*;q=0.3" />
    </browsers>
  </linkCheckerConfig>
</configuration>